html {
  height: 100vh;
  width: 100vw;

  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg?w=1380&t=st=1698513575~exp=1698514175~hmac=99f5964036aa82d04cfb662d0b3ecd231388197d6200829fe23e956098ca25dd);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  font-family: monospace;
}

.header {
  font-size: 24px;
  font-weight: 600;
}

.mainContent {
  width: 820px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.board {
  display: flex;
  flex-direction: column;
  border: 10px solid lightgray;
  height: 800px;
  width: 800px;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}

.unit {
  flex: 1 0 auto;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid lightgray;
}

.unit:hover {
  background-color: #ffc0cbaf; /* light pink */
}

.colored {
  background-color: black;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  width: 820px;
}

.btnContainer > button,
.btnContainer > div {
  flex: 1 0 50%;
}

.boardSettings {
  display: flex;
}

.boardSettings * {
  flex: 1 0 50%;
}
