body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 10px solid lightgray;
  height: 800px;
  width: 800px;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}

.unit {
  flex: 1 0 auto;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid lightgray;
}

.unit:hover {
  background-color: #ffc0cbaf; /* light pink */
}

.colored {
  background-color: lightgreen;
}
